﻿@import url(https://fonts.googleapis.com/css?family=Play);

@font-face {
    font-family: "Icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#icomoon") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.SubTitAppBlancoG {
    padding-left: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.alineado_up_centro {
    margin: 0 auto;
    padding: 0px;
    border: 0;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
}

body {
    font-family: 'Play',Calibri,Verdana,Arial;
    font-size: 12px;
    margin: 0px;
    color: #101214;
    background: #CCCCCC;
}

.banner {
    background: -webkit-linear-gradient(#B5B5B5 50%, #F6F6F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B5B5B5 50%, #F6F6F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B5B5B5 50%, #F6F6F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B5B5B5 50%, #F6F6F6); /* Standard syntax */
    height:32px;
}

.input {
    border: solid 2px #1E1E1E;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#2B2B2B;
    background-color:#DFDFDF;
    cursor:pointer;
    padding:3px;
}

.centro {
text-align:center;
vertical-align:middle;
}


#contenedor {
    width: 96%;
    height: 100%;
    background-color: #CCCCCC;
    margin: 0 auto;
}

.contenedorCamiones {
    border: solid 2px #CCCCCC;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    */
    color: #F6F6F6;
    background: #333333;
    text-align: left;
    margin: 0 auto;
    height: 100%;
}

.ancho_camiones {
    width: 40px;
}

.camiones {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 4px 10px 4px 10px;
}

.camionResumen {
    display: inline-block;
    padding: 6px;
}

.tCam {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight:bold;
    border: solid 2px #CCCCCC;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    width:55px;
    padding: 6px;
}

.tCams {
    font-size: 12px;
    font-weight: bold;
}


.camionResumenSel {
    color: #2B2B2B;
    background-color: #FFFFFF;
}


.camionResumen img {
    vertical-align: middle;
}

.camionResumen a {
    display: inline-block;
    font-weight: bold;
    color: #626262;
    text-decoration: none;
    border: solid 2px #CCCCCC;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 6px;
}

    .camionResumen a img {
        border:0px;
    }

    .camionResumen a:hover {
        color: #2B2B2B;
        background-color: #FFFFFF;
        text-decoration: none;
    }

        
.leyenda {
    border: solid 2px #B5B5B5;
    padding: 5px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    display: inline-block;
}

.superior {
    width: 100%;
    border: solid 2px #1E1E1E;
    padding: 5px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

    .superior li {
        display: inline-block;
        padding-right: 15px;
}

.izq {
    float: left;
    text-align: left;
}

.der {
    float: right;
    text-align: right;
}

.titulo {
    font-size: 14px;
}

.contenedorDetalle {
    border: solid 2px #CCCCCC;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    */
    color: #F6F6F6;
    background: #333333;
    text-align: center;
    margin: 0 auto;
}


    .contenedorDetalle div {
        display:inline-block;
        vertical-align:middle;
        width:33%;
    }


.anchoTit {
    width:500px;
}

@media (max-width: 450px) {
     
    .contenedorDetalle div {
        display:inline-block;
        vertical-align:middle;
        width:100%;
    }

    .contenedorDetalle li {
        display:block;
        width:90%;
        text-align:left;
    }

    .ocu {
        display:none;
    }

    .anchoTit {
    width:100px;
    text-align:left;
}

}

.backgroundPOPAP {
    background-color: #1E1E1E;
}



.contenedorGraficos {
    border: solid 2px #CCCCCC;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    */
    color: #F6F6F6;
    background: #333333;
    text-align: center;
    margin: 0 auto;
}

    .contenedorGraficos div {
        display:inline-block;
        vertical-align:middle;
        width:45%;
    }



.tolvaCC {
    background-image: url('../Image/tolva_CC.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.tolvaCG {
    background-image: url('../Image/tolva_CG.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.tolvaCR {
    background-image: url('../Image/tolva_CR.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.tolvaCA {
    background-image: url('../Image/tolva_CA.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.tolvaCV {
    background-image: url('../Image/tolva_CV.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


.ejeDR {
    background-image: url('../Image/EjeDR.png');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.ejeDA {
    background-image: url('../Image/EjeDA.png');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.ejeDV {
    background-image: url('../Image/EjeDV.png');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.ejeDG {
    background-image: url('../Image/EjeDG.png');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.ejeD {
    background-image: url('../Image/EjeD.png');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

.ejeTR {
    background-image: url('../Image/EjeTR.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:-7px;
    text-align: center;
}

.ejeTA {
    background-image: url('../Image/EjeTA.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:-7px;
    text-align: center;
}

.ejeTV {
    background-image: url('../Image/EjeTV.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:-7px;
    text-align: center;
}

.ejeTG {
    background-image: url('../Image/EjeTG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:-7px;
    text-align: center;
}

.ejeT {
    background-image: url('../Image/EjeT.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:-7px;
    text-align: center;
}

.ejeC {
    background-image: url('../Image/EjeC.png');
    background-position:center;
    background-repeat:repeat-y;
    margin:0 auto;
    padding:0;
}

.cabecera {
    background: -webkit-linear-gradient(#B5B5B5 50%, #626262); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B5B5B5 50%, #626262); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B5B5B5 50%, #626262); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B5B5B5 50%, #626262); /* Standard syntax */
}

.celda {
    border:solid 1px #1E1E1E;
}

.FondoAplicacion {
    /* background-color: #CCCCCC; */
    filter: alpha(opacity=70);
    opacity: 0.7;
    background-image: url("../Icon/formularios/fap.png");
}

.BordeForm {
    border: solid 2px #1E1E1E;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #000000;
    background: #FFFFFF;
    text-align: left;
    margin: 0 auto;
    padding:20px;
    vertical-align:middle;
}

.Input_err {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #07dc4c;
    color: #07dc4c;
    padding: 2px;
    margin: 2px;
    font-size: 11px;
}

.camion_atras {
    background-image: url('../Image/Camion_Atras.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_atras_rojo {
    background-image: url("../Image/Camion_Atras_Rojo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_frente {
    background-image: url("../Image/Camion_Frente.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}