﻿@import url(https://fonts.googleapis.com/css?family=Play);


/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.SubTitAppBlancoG {
    padding-left: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.alineado_up_centro {
    margin: 0 auto;
    padding: 0px;
    border: 0;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
}

body {
    font-family: 'Play',Calibri,Verdana,Arial;
    font-size: 12px;
    margin: 0px;
    color: #FFFFFF;
    background: #101214;
}

.banner {
    background: -webkit-linear-gradient(#2B2B2B 50%, #1E1E1E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2B2B2B 50%, #1E1E1E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2B2B2B 50%, #1E1E1E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2B2B2B 50%, #1E1E1E); /* Standard syntax */
    height:40px;
}

.input {
    border: solid 2px #3363B6;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#FFFFFF;
    background-color:#2B2B2B;
    cursor:pointer;
    padding:3px;
}

.BotonSelect {
    border: solid 2px #ff6a00;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#FFFFFF;
    background-color:#2B2B2B;
    cursor:pointer;
    padding:3px;
}


.input2 {
    border: solid 2px #101214;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#1E1E1E;
    background-color:#DFDFDF;
    cursor:pointer;
    padding:3px;
}

.centro {
text-align:center;
vertical-align:middle;
}


#contenedor {
    width: 96%;
    height: 100%;
    background-color: #101214;
    margin: 0 auto;
}

.contenedorCamiones {
    border: solid 2px #1E1E1E;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    */
    color: #DFDFDF;
    background: #2B2B2B;
    text-align: left;
    margin: 0 auto;
    height: 100%;
}

.ancho_camiones {
    width: 40px;
}

.camiones {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 4px 10px 4px 10px;
}

.camionResumen {
    display: inline-block;
    padding: 6px;
}

.tCam {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight:bold;
    border: solid 2px #FFFFFF;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    width:55px;
    padding: 6px;
}

.tCams {
    font-size: 12px;
    font-weight: bold;
}


.camionResumenSel {
    color: #2B2B2B;
    background-color: #FFFFFF;
}


.camionResumen img {
    vertical-align: middle;
}

.camionResumen a {
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    border: solid 2px #FFFFFF;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 6px;
}

 .camionResumen a img {
        border:0px;
    }

    .camionResumen a:hover {
        color: #2B2B2B;
        background-color: #FFFFFF;
        text-decoration: none;
    }


.leyenda {
    border: solid 2px #1E1E1E;
    padding: 5px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    display: inline-block;
}

.superior {
    width: 100%;
    
    padding: 5px;

}

    .superior ul {
    padding:0px;

         }

    .superior li {
        display: inline-block;
        padding-right: 15px;
}

.izq {
    float: left;
    text-align: left;
}

.der {
    float: right;
    text-align: right;
}

.titulo {
    font-size: 14px;
}

.contenedorDetalle {
    border: solid 2px #1E1E1E;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    */
    color: #DFDFDF;
    background: #2B2B2B;
    text-align: center;
    margin: 0 auto;
}


    .contenedorDetalle div {
        display:inline-block;
        vertical-align:middle;
        width:33%;
    }


.anchoTit {
    width:500px;
}



.backgroundPOPAP {
    background-color: #1E1E1E;
}



.contenedorGraficos {
    border: solid 2px #1E1E1E;
    /*
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    */
    color: #DFDFDF;
    background: #2B2B2B;
    text-align: center;
    margin: 0 auto;
}

    .contenedorGraficos div {
        display:inline-block;
        vertical-align:middle;
        width:45%;
    }


.cabecera {
    background: -webkit-linear-gradient(#626262 50%, #3C3C3C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#626262 50%, #3C3C3C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#626262 50%, #3C3C3C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#626262 50%, #3C3C3C); /* Standard syntax */
}

.celda {
    border:solid 1px #1E1E1E;
}

.FondoAplicacion {
    background-color: #F5F5F5; 
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.BordeForm {
    border: solid 2px #1E1E1E;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #000000;
    background: #FFFFFF;
    text-align: left;
    margin: 0 auto;
    padding:20px;
    vertical-align:middle;
}

.Input_err {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #07dc4c;
    color: #07dc4c;
    padding: 2px;
    margin: 2px;
    font-size: 11px;
}

.camion_atras_T {
    background-image: url('../Imagenes/Camion_Atras_T.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_atras_rojo_T {
    background-image: url("../Imagenes/Camion_Atras_Rojo_T.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_atras_amarillo_T {
    background-image: url("../Imagenes/Camion_Atras_Amarillo_T.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;   
}

.camion_atras_verde_T {
    background-image: url("../Imagenes/Camion_Atras_Verde_T.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;   
}

.camion_frente_T {
    background-image: url("../Imagenes/Camion_Frente_T.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}


.camion_atras_C {
    background-image: url('../Imagenes/Camion_Atras_C.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_atras_rojo_C {
    background-image: url("../Imagenes/Camion_Atras_Rojo_C.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_atras_amarillo_C {
    background-image: url("../Imagenes/Camion_Atras_Amarillo_C.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;   
}

.camion_atras_verde_C {
    background-image: url("../Imagenes/Camion_Atras_Verde_C.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;   
}

.camion_frente_C {
    background-image: url("../Imagenes/Camion_Frente_C.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}

.camion_frente_verde_C {
    background-image: url("../Imagenes/Camion_Frente_Verde_C.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 260px;
    text-align: center;
}


.eje_T_r {
    background-image: url("../Imagenes/Eje_T_R.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;   
    text-align: center;
    margin-top:125px;   
}

.eje_T_a {
    background-image: url("../Imagenes/Eje_T_A.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;   
    text-align: center;
    margin-top:125px;   
}

.eje_T_v {
    background-image: url("../Imagenes/Eje_T_V.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;   
    text-align: center;
    margin-top:125px;   
}



.eje_D_r_T {
    background-image: url("../Imagenes/Eje_D_R_T.png"); 
}

.eje_D_a_T {
    background-image: url("../Imagenes/Eje_D_A_T.png");  
}

.eje_D_v_T {
    background-image: url("../Imagenes/Eje_D_V_T.png");   
}


.eje_D_r_C {
    background-image: url("../Imagenes/Eje_D_R_C.png"); 
}

.eje_D_a_C {
    background-image: url("../Imagenes/Eje_D_A_C.png");  
}

.eje_D_v_C {
    background-image: url("../Imagenes/Eje_D_V_C.png");   
}



#divGraf {
    margin:0 auto;
    width:1010px;
    padding:0;
}

#divGraf div { display:inline-block; vertical-align:middle; text-align:center; margin: 0 auto; padding:0px; }


.BordeFormMant {
    border: solid 2px #1E1E1E;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin: 0 auto;
    vertical-align:middle;
}

.backgroundPOPAPMant {
    background-color: #101214;
<<<<<<< .mine
}

.titulostabs {
    border: solid 2px #ff6a00;
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

    #tblFatiga {
        margin-left:250px;
    }



/*
.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif")%>);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif")%>);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}

*/


.panelFiltros {
    width:1000px;
    margin:0 auto;
     display:block;
}

    .panelFiltros ul {
        width:100%;
    }

    .panelFiltros li {
        display:inline-block;
        padding-left:10px;
    }


    .iconoFiltros {
        display:none;
    }


    /***************************************************************************/

/* TABLET */
@media screen and (max-width: 1024px) and (min-width: 450px) {

   
    #contenedor {
    width: 99.5%;
    }

         #tblFatiga {
        margin-left:180px;
    }

}


@media screen and (max-width: 450px) {
     
    .contenedorDetalle div {
        display:inline-block;
        vertical-align:middle;
        width:100%;
        padding-top:0px;
    }

    .contenedorDetalle li {
        display:block;
        width:90%;
        text-align:left;
    }

    .ocu {
        display:none;
    }

    .anchoTit {
    width:100px;
    text-align:left;
}

    #tblFatiga {
        margin-left:20px;
    }

||||||| .r31
=======
}






/*
.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif")%>);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif")%>);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}

*/


.panelFiltros {
    width:1000px;
    margin:0 auto;
     display:block;
}

    .panelFiltros ul {
        width:100%;
    }

    .panelFiltros li {
        display:inline-block;
        padding-left:10px;
    }


    .iconoFiltros {
        display:none;
    }


    /***************************************************************************/

/* TABLET */
@media screen and (max-width: 1024px) and (min-width: 450px) {

   
    #contenedor {
    width: 99.5%;
}


}


@media screen and (max-width: 450px) {
     
    .contenedorDetalle div {
        display:inline-block;
        vertical-align:middle;
        width:100%;
        padding-top:0px;
    }

    .contenedorDetalle li {
        display:block;
        width:90%;
        text-align:left;
    }

    .ocu {
        display:none;
    }

    .anchoTit {
    width:100px;
    text-align:left;
}

>>>>>>> .r56
}